{%- block partial_content -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% trans %}푸딩캠프{% endtrans %}{% endblock title %}</title>
    <meta name="htmx-config" content='{"defaultSwapStyle": "outerHTML", "useTemplateFragments": true}'>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <!-- https://htmx.org/extensions/ -->
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ajax-header.js"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', function(evt) {
          evt.detail.headers['X-CSRFTOKEN'] = "{{ csrf_token }}";
      });   
    </script>
  </head>

    <body>
        <main>
          {% block content %}{% endblock content %}
        </main>
    </body>
</html>
{% endblock partial_content %}